$primary_color: #323232;
$secondary_color:#222222;
$button_color:#4F4F4F;
$blue_color:#66AEAE;
$red_color:#F65555;
$green_color:#557C47;

$primary_font: 'Rationale', sans-serif;
$secondary_font:'Roboto', sans-serif;
